<% if wiki.private && wiki.user == current_user %>
  <h2>Collaborators</h2>

  <%= form_tag update_collaborators_wiki_path, method: :put do %>
    <% for user in users %>
        <% if user != wiki.user %>
          <% is_collab = !!Collaborator.find_by(user_id: user.id, wiki_id: wiki.id) %>
          <span class='form-control'>
          <%= check_box_tag "user_ids[]", user.id, checked = is_collab %>
          <%= user.name %> </span><br />
        <% end %>
    <% end %>
    <%= submit_tag "Update Collaborators", class: 'btn btn-success' %>
  <% end %>

<% end %>