<br>
<div class="container center">
  <h1>Blocipedia: Social, Markdown Wikis</h1>
</div>
<div class="jumbotron">
  <h2 class="center">Create and Share Markdown Wikis</h2>
  <p class="center">
      <%#= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
      <br>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>

  </p>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-md-6 center">
      <h2>Create public wikis!</h2>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Free Plan</a></p>
    </div>
    <div class="col-md-6 center">
      <h2>Create private wikis!</h2>
      <br>
      <p><a class="btn btn-success" href="#" role="button">Premium Plan</a></p>
    </div>
  </div>
</div>