<h1>Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %> <small>(<%= wiki.user.name %>)</small>
            <small style="color: red"><%= "private" if wiki.private %></small>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr />
<div class="container">
  <%# if policy(Topic.new).create? %>
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  <%# end %>
</div>

